:root {
    --black-light: rgba(29, 31, 35, 1);
    --black: rgba(29, 31, 35, 1);
    --gray: rgba(141, 141, 141, 1);
    --modal-bg: rgba(255, 255, 255, 0.7);
    --white: rgba(255, 255, 255, 1);
    --orange: rgba(247, 157, 75, 1);
    --orange-hover: rgb(192, 102, 19);
    --cell-background: rgba(49, 49, 54, 1);
    --button-focus: rgba(112, 111, 211, 1);
    --modal-background: rgba(29, 31, 35, 0.3);
    --cell-size: 120px;
    --cell-gap: 10px;
    --cell-border: 5px;
    --font-size: 25px;
}

@media (max-width: 678px) {
    :root {
        --cell-size: 60px;
        --font-size: 20px;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
}

body {
    background-color: var(--black-light);
}
